name: CI

on:
  push:
    branches: [main]
    tags:
      - '*'
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: '1.3.1'

      - name: Bun cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Generate routes
        run: bun run generate:routes

      - name: Prettier
        run: bun run format:check

      - name: Lint
        run: bun run lint

      - name: Build
        run: bun run build

  dockerize:
    name: Dockerize
    runs-on: blacksmith-4vcpu-ubuntu-2404
    # needs: ci
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - name: Login to GHCR
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/imagine-projects/template-tanstack-start
          tags: |
            type=ref,event=branch,prefix=branch-
            type=ref,event=pr,prefix=pr-
            type=sha,prefix=sha-,format=short
            type=raw,value=gh-${{ github.run_id }}
          flavor: |
            latest=false

      # - name: Build and push
      #   uses: useblacksmith/build-push-action@v2
      #   with:
      #     context: .
      #     file: ./Dockerfile
      #     push: true
      #     tags: ${{ steps.meta.outputs.tags }}
      #     labels: ${{ steps.meta.outputs.labels }}

      - name: Build sandbox templates
        uses: imagine-projects/build-template-action@051cd900de16521dffbed8f516ce4b426667d5ca
        with:
          sandboxProviderApiKey: ${{ secrets.SANDBOX_PROVIDER_API_KEY }}
          dockerTags: ${{ steps.meta.outputs.tags }}
